*{
  margin: 0;
  padding: 0;
  text-decoration: none;

}

body {
  
 background-color: #f9dce0;


}
.container{
  display: flex;
  margin-left: 0%;
  padding-left: 0;
}

.main{
  width: 100%;
  padding: 20px;
}

.sidebar{
  background: #000;
  color : #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;

}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;

}
.logo{
  font-size: 25px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: white;
  padding: 15px 20px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{

  background: green;
  color: black;
  transition: all 0.5s;
}

.active{

  background: green;
  color: black;

}

.icon, .link_text{
  font-size: 20px;
}
